body {
  margin: 0;
  padding: 0;
  background-color: #333;
}

.mainImag img {
  width: 250px;
  border-radius: 20px;
  margin: 20px 20px 0 0;
}

.image img {
  width: 200px;
  border-radius: 20px;
  margin: 20px 20px 0 0;
}

button {
  background-color: orangered;
  border: none;
  border: 1px solid orangered;
  color: white;
  margin-right: 20px;
  padding: 10px 12px;
  border-radius: 50px;
}

button:hover {
  background-color: transparent;
  color: orangered;
}

.modal .overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background-color: rgba(49, 49, 49, 0.8);
}

.modalContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #111;
  padding: 20px;
  border-radius: 25px;
  color: rgb(207, 207, 207);
}

.info {
  display: flex;
  flex-wrap: wrap;
}

.info .content {
  width: 60%;
  margin-left: 20px;
}

.info .image img {
  border: 5px solid orangered;
}

.info .content p b {
  border-bottom: 1px solid orangered;
}

.buttons {
  display: flex;
  padding-top: 0px;
  align-items: center;
}

.buttons i {
  font-size: 30px;
}

.movieSection {
  margin: 0 10px;
}
